<h3>User information</h3>
            
            <div class="text-center">
                <div>
                    <img src="http://placehold.it/200x200" class="rounded-circle" alt="...">
                </div>
                 <%= user.fullname %>
                <div>
                <% if current_user.id != user.id %>

                    <% if current_user.following.include? user.id.to_s %>
                     <%# show only if user is following %>
                         <%= form_for user, url: user_unfollow_path(user.id) do |f| %>
                            <%#= f.hidden_field :id %>
                            <%= f.submit "unfollow" %>
                        <% end %>

                        <% else %>
                       

                        <%= form_for user, url: new_user_follow_path(user.id) do |f| %>
                            <%= f.hidden_field :id %>
                            <%= f.submit "follow" %>
                        <% end %>
                    <% end %>

                    <% end %>
                </div>

                <div>
                   <% user.description %>
                </div>
                <div>
                   <%= user.following.length %> Following
                </div>
                <div>
                  <%= user.posts.length %> Posts
                </div>
         
            </div>